CODE FOR daily-news-to-script-emailer-n8n
{
  "name": "SCRIPT OF GIVEN TOPIC NEWS TO GMAIL DAILY TRIGGER",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_ASSIGNMENT_ID_1",
              "name": "topic",
              "value": "sports",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "id": "YOUR_NODE_ID_1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n  \"model\": \"mistralai/mistral-7b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a video scriptwriter.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a short, engaging 60-second video script about: {{$json['topic']}}\"\n    }\n  ]\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "YOUR_NODE_ID_2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_ASSIGNMENT_ID_2",
              "name": "prompt",
              "value": "= {{$json[\"body\"][\"choices\"][0][\"message\"][\"content\"].replace(/\\n/g, \" \")}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0],
      "id": "YOUR_NODE_ID_3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "AI TOPIC SCRIPT",
        "message": "={{$json[\"prompt\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, 0],
      "id": "YOUR_NODE_ID_4",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "YOUR_TRIGGER_ID",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": " const articles = $json.results || [];\n\nconst newsList = articles.map(n =>\n  `📰 ${n.title}\\n🔗 ${n.link}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    emailBody: newsList || \"No news articles found.\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, -180],
      "id": "YOUR_NODE_ID_5",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/news?apikey=YOUR_NEWSDATA_API_KEY&language=en&country=in",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "={{ $json.topic }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [140, -180],
      "id": "YOUR_NODE_ID_6",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [[{"node": "HTTP Request1", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "Edit Fields1", "type": "main", "index": 0}]]
    },
    "Edit Fields1": {
      "main": [[{"node": "Send a message", "type": "main", "index": 0}]]
    },
    "Schedule Trigger": {
      "main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]
    },
    "Code": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request1": {
      "main": [[{"node": "Code", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
